.container {
    position: relative;
}

.calculator {
    flex: 1;
    left: 50%;
    width: 300px;
    height: 600px;
    display: flex;
    position: relative;
    border-radius: 25px;
    box-shadow: 5px 5px 10px 5px rgb(132, 150, 161);
    flex-direction: column;
    transform: translate(-50%);
}

.calculator_dark {
    color: white;
    background: black;
    box-shadow: 5px 5px 10px 5px rgb(132, 150, 161);
}

.calculator_light {
    color: black;
    background: rgb(105, 180, 139);
}

.cal_top {
    font-size: 13px;
}

.cal_top_dark {
    color: rgb(255, 255, 255);
}

.cal_top_light {
    color: black;
}

.cal_mid {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cal_bottom {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    padding: 10px;
    font-size: 20px;
}

.cal_bottom_dark {
    background: #121727;
}

.cal_bottom_light {
    background: #80b9a4;
}

.cal_bottom_item {
    flex: 1;
    display: flex;
    align-items: center;
}

.battery {
    font-size: 16px;
}

.switch {
    width: 70px;
    display: flex;
    align-self: center;
    border-radius: 15px;
}

.switch_dark {
    background: #22242c;
}

.switch_light {
    background: #52837c;
}

.moon_dark {
    color: white;
}

.moon_light {
    color: rgb(139, 184, 169);
}

.sun_dark {
    color: rgb(148, 155, 153);
}

.sun_light {
    color: rgb(181, 239, 243);
}

.display {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    padding-inline: 10px;
    border-radius: 10px;
}

.display_dark {
    border: 5px solid #0d1222;

}

.display_light {
    border: 5px solid #6bd4ac;
}

.switch>i {
    flex: 1;
    text-align: center;
}

.buttonCover {
    flex: 1;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: rgb(27, 24, 24);
    box-shadow: 0px 0px 2px 1px rgb(27, 28, 31);
}

.buttonCover_dark {
    background: rgb(27, 22, 22);
    box-shadow: 5px 5px 10px 2px rgb(44, 41, 41);
}

.buttonCover_light {
    background: rgb(17, 19, 18);
    box-shadow: 5px 5px 10px 2px rgb(33, 37, 36);
}