.container {
    position: relative;
}

.calculator {
    flex: 1;
    left: 50%;
    width: 300px;
    height: 600px;
    display: flex;
    position: relative;
    border-radius: 25px;
    box-shadow: 5px 5px 10px 5px rgb(132, 150, 161);
    flex-direction: column;
    transform: translate(-50%);
}

.calculator_dark {
    color: white;
    background: black;
    box-shadow: 5px 5px 10px 5px rgb(132, 150, 161);
}

.calculator_light {
    color: black;
    background: white;
}

.cal_top {
    font-size: 13px;
}

.cal_top_dark {
    color: white;
}

.cal_top_light {
    color: black;
}

.cal_mid {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cal_bottom {
    flex: 2;
    display: flex;
    background: #121727;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    padding: 10px;
    font-size: 20px;
}

.cal_bottom_dark {
    background: #121727;
}

.cal_bottom_light {
    background: #121727;
}

.cal_bottom_item {
    flex: 1;
    display: flex;
    align-items: center;
}

.battery {
    font-size: 16px;
}

.switch {
    width: 70px;
    display: flex;
    align-self: center;
    background: #22242c;
    border-radius: 15px;
}

.switch_dark {
    background: #22242c;
}

.switch_light {
    background: #22242c;
}

.moon_dark {
    color: white;
}

.moon_light {
    color: white;
}

.sun_dark {
    color: rgb(155, 148, 148);
}

.sun_light {
    color: rgb(155, 148, 148);
}

.display {
    flex: 1;
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    padding-inline: 10px;
}

.switch>i {
    flex: 1;
    text-align: center;
}

.buttonCover {
    flex: 1;
    text-align: center;
    background: black;
    border: none;
    border-radius: 5px;
    box-shadow: -1px -5px 10px 2px rgb(31, 28, 28);
}

.buttonCover_dark {
    background: black;
    box-shadow: -1px -5px 10px 2px rgb(31, 28, 28);
}

.buttonCover_light {
    background: black;
    box-shadow: -1px -5px 10px 2px rgb(31, 28, 28);
}